# Port de publication du site HTTP
WEB_HTTP_PORT=80

# Port de publication du site HTTPS
WEB_HTTPS_PORT=443

EMAIL_ADMIN_TECHNIQUE=

# Site de base HTTP
S2LOW_WEBSITE=

# Site de base du mail sécurisé (hôte)
S2LOW_WEBSITE_MAIL=

OPERATEUR_DE_TELETRANSMISSION=

APP_DEBUG=false
# Mot de passe de l'utilisateur qui se connecte à la base de données
POSTGRES_PASSWORD=
POSTGRES_HOST=

CONVERT_API_LOGINS_FROM_ISO=false
HELIOS_NB_FILES_ENVOI=1
# Mot de passe FTP
HELIOS_FTP_SERVER=
HELIOS_FTP_PORT=
# Utiliser le mode SIMULATEUR, GATEWAY, PASSTRANS_SFTP, PASSTRANS_FTPS
HELIOS_FTP_CONNECTION_MODE=GATEWAY
HELIOS_FTP_PASSIVE_MODE=false
HELIOS_FTP_LOGIN=
HELIOS_FTP_PASSWORD=
#Mettre "" pour la production, mettre un répertoire de destination pour un serveur de test
#Faire terminer la destination par un /
HELIOS_SENDING_DESTINATION="./"
HELIOS_FTP_RESPONSE_SERVER_PATH="."

HELIOS_PASSTRANS_RECEPTION_ENABLE=false
HELIOS_NB_FILES_ENVOI_PASSTRANS=0
HELIOS_PASSTRANS_SERVER=
HELIOS_PASSTRANS_PORT=
# Utiliser le mode Passtrans SIMULATEUR, GATEWAY, PASSTRANS_SFTP, PASSTRANS_FTPS
HELIOS_PASSTRANS_CONNECTION_MODE=PASSTRANS_SFTP
# Utiliser FPT en mode passif
HELIOS_PASSTRANS_PASSIVE_MODE=false
HELIOS_PASSTRANS_LOGIN=
HELIOS_PASSTRANS_PASSWORD=
HELIOS_PASSTRANS_SENDING_DESTINATION=
HELIOS_PASSTRANS_RESPONSE_SERVER_PATH=

#Exemple : MAILER_DSN=smtp://s2low.dev%40libriciel.net:motdepasse@mail.libriciel.net:465
MAILER_DSN=
# Attention : le domaine de l'adresse mail doit être autorisée sur le serveur MAILER_DSN
TDT_FROM_EMAIL=
MAIL_TEDETIS_FROM=
MAIL_SECURE_DESCRIPTION=
MAIL_MESSAGE="Vous avez reçu un courrier de S²LOW"
MAIL_TEXT="Bonjour,

Un courrier recommandé avec d éventuelles pièces jointes vous a été transmis par la plateforme sécurisée S2LOW. Nous vous proposons de cliquer sur le lien suivant pour accéder au courrier recommandé et confirmer la réception : accés au courrier recommandé."

# Permet de configurer le validca utilisé pour signer et télétransmettre des flux Actes
# true  :   utilise /etc/apache2/ssl/validcargs ( RGS + DGFiP)
# false :   utilise /etc/apache2/ssl/validca ( RGS + DGFiP + Libriciel)
ONLY_USE_VALIDCARGS=true

PUBLISH_SIMULATEUR=false
#Cette constante sera a supprimer des que l'issue 938 sera fermée
USE_LEGACY_SECURE_MAIL_FIELDS=false

#Passer cette constante si vous utilisez du stockage openstack
OPENSTACK_ENABLE=false
ACTES_OPENSTACK_AUTHENTICATION_URL_V3="https://auth.cloud.ovh.net/v3"
ACTES_OPENSTACK_USERNAME=
ACTES_OPENSTACK_PASSWORD=
ACTES_OPENSTACK_TENANT=
ACTES_OPENSTACK_REGION=SBG
ACTES_OPENSTACK_SWIFT_CONTAINER_PREFIX=

#https://horizon.cloud.ovh.net/project/api_access/
HELIOS_OPENSTACK_AUTHENTICATION_URL_V3="https://auth.cloud.ovh.net/v3"
HELIOS_OPENSTACK_USERNAME=
HELIOS_OPENSTACK_PASSWORD=
HELIOS_OPENSTACK_TENANT=
HELIOS_OPENSTACK_REGION=GRA
HELIOS_OPENSTACK_SWIFT_CONTAINER_PREFIX=

HELIOS_ACQUIT_OPENSTACK_AUTHENTICATION_URL_V3="https://auth.cloud.ovh.net/v3"
HELIOS_ACQUIT_OPENSTACK_USERNAME=
HELIOS_ACQUIT_OPENSTACK_PASSWORD=
HELIOS_ACQUIT_OPENSTACK_TENANT=
HELIOS_ACQUIT_OPENSTACK_REGION=GRA
HELIOS_ACQUIT_OPENSTACK_SWIFT_CONTAINER_PREFIX=

HELIOS_RETOUR_OPENSTACK_AUTHENTICATION_URL_V3="https://auth.cloud.ovh.net/v3"
HELIOS_RETOUR_OPENSTACK_USERNAME=
HELIOS_RETOUR_OPENSTACK_PASSWORD=
HELIOS_RETOUR_OPENSTACK_TENANT=
HELIOS_RETOUR_OPENSTACK_REGION=GRA
HELIOS_RETOUR_OPENSTACK_SWIFT_CONTAINER_PREFIX=

HELIOS_PURGE_ENABLE=false
HELIOS_RETENTION_FICHIERS_NB_JOURS=3650000

MAILSEC_OPENSTACK_AUTHENTICATION_URL_V3="https://auth.cloud.ovh.net/v3"
MAILSEC_OPENSTACK_USERNAME=
MAILSEC_OPENSTACK_PASSWORD=
MAILSEC_OPENSTACK_TENANT=
MAILSEC_OPENSTACK_REGION=GRA
MAILSEC_OPENSTACK_SWIFT_CONTAINER_PREFIX=

CLOUD_PROVIDER_ENDPOINT=
CLOUD_PROVIDER_KEY=
CLOUD_PROVIDER_SECRET=
CLOUD_BUCKET_ACTE_ENVELOPPE=
CLOUD_BUCKET_PES_ALLER=
CLOUD_BUCKET_PES_ACQUIT=
CLOUD_BUCKET_PES_RETOUR=
CLOUD_BUCKET_MAIL_SEC=

ACTES_IMAP_LOGIN=
ACTES_IMAP_PASSWORD=
ACTES_TDT_MAIL_ADDRESS=
ACTES_IMAP_HOST=
ACTES_IMAP_PORT=

ACTES_MINISTERE_URL=
ACTES_MINISTERE_AUTHENTICATION=
ACTES_MINISTERE_LOGIN=
ACTES_MINISTERE_PASSWORD=
ACTES_MINISTERE_CERTIFICATE=
ACTES_MINISTERE_CERTIFICATE_KEY=
ACTES_MINISTERE_CERTIFICATE_KEY_PASS=
ACTES_MINISTERE_SERVER_CERTIFICATE_PATH=
ACTES_MINISTERE_ADAPT_PROTOCOL=
ACTES_APPLI_NAME=
ACTES_APPLI_TRIGRAMME=
ACTES_APPLI_QUADRIGRAMME=
ACTES_MAIL_BACKUP=

USE_PROD_NOTIFICATIONS=true

#--------------------------------------------------------------------------------
#
#   VARIABLES VOLUMES
#
#--------------------------------------------------------------------------------

WORKSPACE_VOLUME=/data/s2low/tdt-workspace/

LOG_PATH=/data/s2low/logs

# Emplacement des certificat du serveur
SERVER_SSL_CERTIFICAT=/data/s2low/certificat/ssl

# Emplacement du certificat d'horodatage (au format p12) sans mot de passe
TIMESTAMP_CERTIFICAT_PATH=/data/s2low/certificat/ssl

LETSENCRYPT_DATADIR=/data/s2low/certificat/letsencrypt

GENERAL_TRUST_STORE=/data/s2low/certificat/trustore

REDIS_VOLUME=/data/s2low/redis

#--------------------------------------------------------------------------------
#
#   VARIABLES LETSENCRYPT
#
#--------------------------------------------------------------------------------

LETSENCRYPT_DOMAIN=
LETSENCRYPT_SUB_DOMAIN=
LETSENCRYPT_MAILSEC_DOMAIN=
LETSENCRYPT_EMAIL=

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=26d5b9f65f6caa90a7d55e57550e196c
###< symfony/framework-bundle ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###
