UID=1000
GID=1000

APP_HOST=localhost
MAILSEC_HOST=127.0.0.1

HTTP_PORT=18080
HTTPS_PORT=10443

APP_ENV=dev
APP_DEBUG=true
APP_SECRET=

##### apache container
WEB_CERTIFICATES_PATH=/data/s2low/web/certificates
ACME_DATADIR=/data/s2low/web/letsencrypt
WEB_LOGS_PATH=/data/s2low/web/log

#### app container
APP_CERTIFICATES_PATH=/data/s2low/app/certificates
APP_LOGS_PATH=/data/s2low/app/log
WORKSPACE_VOLUME=/data/s2low/app/tdt-workspace

##### database
DATABASE_DATADIR=/data/s2low/database
DATABASE_DATADIR_TEST=/data/s2low/database_test
DATABASE_PASSWORD=
DATABASE_PASSWORD_TEST=

#### simulateur
SIMULATEUR_WORKSPACE_DIRECTORY=/data/s2low/simulateur/workspace
SIMULATEUR_PASSTRANS_WORKSPACE_DIRECTORY=/data/s2low/simulateur_passtrans/workspace

#### s3

S3_DATADIR=/data/s2low/s3
