/config/LocalSettings.php
/.idea
/vendor/
/.env
.DS_STORE
/temp/
/public.ssl/libersign
/public.ssl/temp
ext/standalone/HTMLPurifier/DefinitionCache
.settings
.project
.buildpath
/build/
.scannerwork
/coverage-reports/
.phpunit.result.cache
.vscode
var/
coverage
dump.sql
dumptest.sql
dist/
node_modules/
public.ssl/jsmodules/