<phpunit backupGlobals="false" bootstrap="test/PHPUnit/bootstrap.php">
    <testsuites>
        <testsuite name="S2low">
            <directory>test/PHPUnit</directory>
        </testsuite>
    </testsuites>
    <logging>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">class</directory>
            <directory suffix=".php">config</directory>
            <directory suffix=".php">controller</directory>
            <directory suffix=".php">cron</directory>
            <directory suffix=".php">init</directory>
            <directory suffix=".php">lib</directory>
            <directory suffix=".php">model</directory>
            <directory suffix=".php">public</directory>
            <directory suffix=".php">public.ssl</directory>
            <directory suffix=".php">script</directory>
            <directory suffix=".php">template</directory>
            <directory suffix=".php">tools</directory>
        </whitelist>
    </filter>
</phpunit>