/*
Icone "message" récupéré ici : http://subwaydesigns.net/mail-envelope-icon-email-icon/
Icone "punaise", je ne sais plus ou je l'ai trouvé !
*/


.lecture_mail {width:100%;background:url(ico_message.png) 0px 30px no-repeat #ffffff;}
.lecture_mail .box_message {}

.lecture_mail .col_gauche, .lecture_mail .col_gauche_info, .lecture_mail .col_gauche_pj  {
float:left;
clear:both;
width:18%;
text-align:right;
font-size:90%;
padding-right:12px;
padding-top:10px;
color:#919191;
text-transform:uppercase;
}

.lecture_mail .col_droite, .lecture_mail .col_droite_info, .lecture_mail .col_droite_pj {
width:76%;
float:left;
text-align:left;
padding:10px;
border-bottom:2px solid #ffffff;
border-left:1px solid #D1D5DB;
background-color:#F3F3F3;
}

.lecture_mail .col_gauche_pj {height:80px;background:url(ico_piecejointe.png) 70px 0px no-repeat #ffffff;}
.lecture_mail .col_droite_pj  {padding:0 0 0 10px;background-color:#ffffff;}
.lecture_mail .col_gauche_info {width:60%;padding:4px;margin:0;}
.lecture_mail .col_droite_info {width:34%;padding:4px;background-color:#FFFFFF;border-left:0;}

.col_droite_pj table {border-collapse:collapse;width:100%;}
.col_droite_pj table th {background-color:#D4DBED;border-bottom:1px solid #BDC8E5;font-weight:normal;padding:6px;color:#809BC8;}
.col_droite_pj table td {background-color:#F3F3F3;padding:6px;border-bottom:1px solid #E5E5E5;}

.clear {clear:both;}
.objet {font-size:120%;font-weight:bold;letter-spacing:0.8px;}
.align_left {text-align:left;}
.force_maj {text-transform:uppercase;}

