<phpunit backupGlobals="false">
    <testsuites>
        <testsuite name="S2low">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <logging>
  <!-- <log type="coverage-html" target="/tmp/s2low-coverage" charset="UTF-8"
       yui="true" highlight="false"
       lowUpperBound="35" highLowerBound="90"/> -->  
</logging>
<filter>
<whitelist processUncoveredFilesFromWhitelist="false">
    <directory suffix=".php">../../</directory>
    <exclude>
		<directory suffix=".php">..</directory>
		<directory>../../ext</directory>
    </exclude>
</whitelist>
</filter>
</phpunit>