/*
  datepicker styles
  David Lee 2005
  all parts user servicable
*/
.date_picker {
  /* comment out this line to show by default: */
  display: none;
  /* comment out this line to prevent calendar 'floating' over page: */
  position: relative;
  float:center
  background-color: transparent;
  padding: 3px;
  margin: 0px;
  border: 0px solid silver;
}

.date_picker table {
  position: absolute;
  border:        1px solid silver;
  border-top:    2px solid silver;
  border-bottom: 3px solid silver;
  font-family: verdana, sans-serif;
  background-color: white;
}
.date_picker th {
  font-size: 10px;
  background-color: #bbc7e1;
  text-align: center;
}

.date_picker .day_labels th {
  color: black;
  font-size: 9px;
  font-weight: normal;
}

.date_picker td {
  width: 18px;
  background-color: #eeeeee;
  font-size: 9px;
  text-align: center;
}

#content .date_picker td a {
  display: block;
}

#content .date_picker a {
  text-decoration: none;
  border: none;
  color: black;
}

#content .date_picker a:hover {
  color: black;
  background-color: #bbc7e1;
  border: none;
}

.date_picker .cancel_butt { text-align: center; }
.date_picker .cancel_butt a {
  font-size: 9px;
  color: gray;
  font-family: verdana, sans-serif;
  text-decoration: none;
}
.date_picker .cancel_butt a:hover {
  background-color: gray;
  color: white;
}

.date_picker .timepicker-value-cell {
  text-align: center;
}

.date_picker .timepicker_valid_butt {
  background-color: #eeeeff;
  margin: 4px 4px 0px 0px;
  padding: 0px;
  float: left;
  text-align: left;
}

.date_picker .timepicker_cancel_butt {
  background-color: #eeeeff;
  margin: 4px 0px 0px 4px;
  padding: 0px;
  text-align: right;
}