/*
---------------------------------------------
 Override boostrap & general
-----------------------------------------------
*/
h1 {
    color: #FF6600;
    margin-top: 0;
}

h2 {
    border-bottom: solid 1px #555;
    font-size : 25px;
    margin-bottom: 20px;
    margin-top: 30px;
}

input[type="radio"], input[type="checkbox"] {
    margin-top: 10px;
    margin-right: 10px;
    vertical-align: text-bottom;
}

.pagination > li {
    font-size: 12px;
}

.pagination  {
    margin-top: 0;
}

.data-table caption {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

h2 > a {
    font-size: 14px;
}

.alert {
    font-weight: bold;
}

.message-admin {
    font-weight: normal;
}




/*
---------------------------------------------
 Template header
-----------------------------------------------
*/
#home-header {
    text-align: center;
}

#home-banner {
    width:1200px;
    height:160px;
}

#home-subbanner {
    width:1200px;
    height:80px;
}

#menu-header {
    border-bottom: solid 1px  #EEEEEE;
}


.import-file-form .control-label {
    text-align: left;
}

#transactions-list {
    margin-bottom: 40px;
    margin-top: 10px;
}

#bandeau_s2low {
    margin-bottom: 20px;
    border: 1px solid transparent;
}

#bandeau_s2low img {
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

/*
---------------------------------------------
 Template : nav bar
-----------------------------------------------
*/
.text-menu.nav > li > a {
    padding : 0 0 0 15px;
}

.menu-list-title {
    padding-top: 15px;
}

/*
---------------------------------------------
 Template : footer
-----------------------------------------------
*/
.bs-footer {
    border-top-color: #E5E5E5;
    border-top-style: solid;
    border-top-width: 1px;
    color: #777777;
    margin-top: 100px;
    padding-bottom: 30px;
    padding-top: 40px;
    text-align: center;
}

.bs-callout {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 15px;
}

.bs-callout-info {
    background-color: #F0F7FD;
    border-bottom-color: #D0E3F0;
    border-top-color: #D0E3F0;
}

/*
---------------------------------------------
 Template : forms
-----------------------------------------------
*/
.ack-date {
    padding-top: 25px;
}

.sub-date {
    padding-top: 15px;
}

.form-horizontal .control-label.email-checkbox {
    text-align: left;
}

.mandatory {
    color: red;
}

.date_picker {
    z-index: 1;
}

span.form-control {
    border: none;
    box-shadow: none;
}
.link-input {
    padding-top: 7px;
}
/*
---------------------------------------------
 Template : filtering area
-----------------------------------------------
*/
#filtering-area label {
    text-align: left;
}

/*
---------------------------------------------
 Template : back button
-----------------------------------------------
*/
#back-transaction-btn,
#back-user-btn,
#back-admin-services-btn,
#back-helios-admin-btn {
    text-align: right;
}

/*
-----------------------------------------------
 Template : window add/edit
-----------------------------------------------
*/
.window-edit-form {
    margin-top: 20px;
}

/*
------------------------------------------------
 Add transaction and Reply transation form pages
------------------------------------------------
*/
#add-transac-content .row-legend, #reply-transac-content .row-legend {
    background-color: #FFF;
}

#add-transac-content legend, #reply-transac-content legend {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: left;
    border: none;
}

#add-transac-content fieldset, #reply-transac-content fieldset {
    background-color: #FCFCDF;
}

.actes_files_form {
    padding-top: 10px;
}

.envelope_content, #sent-message-area table {
    margin-left: 30px;
}

.envelopes_list dt, #sent-message-area dt, #sent-message-area dd  {
    margin-top: 10px;

}

/*
---------------------------------------------
 Send mail page
-----------------------------------------------
*/
#sent-message-area dt  {
    margin-bottom: 10px;
}

#message-detail th {
    min-width: 100px;
    background-color: #BBC7E1;
}
#message-detail .alert {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
}

#mail-message{
    height: 200px;
}

#show_broadcast_email, #send_sources, #next {
    margin-left: 5px;
    margin-top: 0;
}

#broadcast_email > .form-group, #broadcast_email > .form-group > label {
    margin-bottom: 2px;
}

#broadcast_email {
    margin-bottom: 50px;
}

#sendemail {
    margin-top: 40px;
}

#expand-all {
    background-image: url("../images/expand-all.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    text-decoration: none;
}
#collapse-all {
    background-image: url("../images/collapse-all.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    text-decoration: none;
}

.toggle-action {
    color : #FFF;
    font-size : 10px;
    margin-left: 10px;
    padding-left: 20px;
    border : solid 1px #666;
    border-radius: 100px;
    background-color: #666;
    padding-right: 10px;
}

.hidden-info {
    display : none;
}

.th-row {
    text-align: right;
    background-color: #BBC7E1;
    width: 50%;

}

/*---------------------------------------------
 Address book page (index.php?command=annuaire)
 ----------------------------------------------*/
#address-book .contact-list {
    margin-top : 15px;
    margin-left : 15px;
}

#address-book .contact {
    margin-left : 5px;
}

#address-book h2 {
    margin-top: 25px;
    font-size: 16px;
}
#address-book .actionmail  li {
    margin-bottom: 5px;
    list-style-type: none;
}

/*---------------------------------------------
 Add lot success page (modules/actes/actes_batch_add.php)
 ----------------------------------------------*/
.lot-action {
    margin-right: 10px;
}



.zelect {
      display: inline-block;
      background-color: white;
      min-width: 200px;
      cursor: pointer;
      line-height: 30px;
      border: 1px solid #CCC;
      position: relative;
      padding-left: 10px;
      vertical-align: middle;
}

.zelected.placeholder {
      color: #CCC;
}

.dropdown {
      background-color: white;
      border: 1px solid #CCC;
      border-top: none;
      position: absolute;
      left:-1px;
      right:-1px;
      top: 30px;
      z-index: 2;
      padding: 3px 5px 3px 3px;
}

.dropdown input {
      font-family: sans-serif;
      outline: none;
      font-size: 14px;
      border: 1px solid #CCC;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      padding: 7px 0 7px 10px;
}

.dropdown ol {
      padding: 0;
      margin: 3px 0 0 0;
      list-style-type: none;
      max-height: 150px;
      overflow-y: scroll;
}

.dropdown li {
    padding-left: 10px;
}

.dropdown li.current {
    background-color: #CCC;
}


