<div class="container">
        <!-- The file upload form used as target for the file upload widget -->
        <form
                class="form form-horizontal"
                id="batchproperties"
                action="{{ website_ssl }}/modules/actes/actes_batch_create.php"
                method="POST"
                enctype="multipart/form-data"
        >
            <input id="jfu_user_id" type="hidden" name="user_id" value="{{ userid }}"/>
            <div class="form-group">
                <label for="jfu_intitule" class="col-md-4 label-form">Intitulé du lot : </label>
                <div class="col-md-4">
                    <input id="jfu_intitule" class="form-control" type="text" name="intitule" />
                </div>
            </div>
            <div class="form-group">
                <label for="jfu_num_prefix" class="col-md-4 label-form">Préfixe des numéros internes : </label>
                <div class="col-md-4">
                    <input id="jfu_num_prefix" class="form-control" type="text" name="prefixe" maxlength="12" />
                </div>
            </div>
            <input type="button" class="btn btn-primary" id="batchformsubmit" value="Ajouter des fichiers">
        </form>
</div>