{#tampon_date est le nom du hidden input auquel se réfère le datePicker#}

<script type="text/javascript">
    $(function() {
        $('#tampon_date').datepicker();
        $('#datepicker_tampon_date_link').click(function (e) {
            $('#tampon_date').datepicker("show");
            e.preventDefault();
        });
    });
</script>

<a href="#datepicker"
   id="datepicker_tampon_date_link"
   class="datepicker_link"
   >(date de publication)
</a>

<div class="date_picker" style="display: none;" id="datepicker_tampon_date_calendar"></div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#tampon_date").datepicker().on("input change", function (e) {
            document.getElementById("datepicker_tampon_date_link").innerHTML = $("#tampon_date").val();
        });
        $("#tampon_date").datepicker("setDate", "0" );
        $(".telecharger_tampon").click(function () { // Lorsque l'on essaie de télécharger le fichier tamponné
            if(!document.getElementById("datepicker_tampon_date_link").innerHTML.includes('date de publication'))
            {
                // On extrait l'id du fichier depuis le href courant
                var currentHref = $(this).attr('href');
                var fileId = currentHref.match(/file=(\d+)/)[1];

                // Si la date a été modifiée, on la rajoute dans le lien
                // Sinon, elle sera vide
                let date = $("#tampon_date").datepicker('getDate');
                let day = date.getDate();
                let month = date.getMonth()+1;
                let year = date.getFullYear();
                dateString = year+"/"+month+"/"+day;
                var href = "/modules/actes/actes_download_file.php?tampon=true&file=" + fileId + "&date_affichage=" + dateString;
                $(this).attr('href',href);
            }
        });
    })
</script>